*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
}
body {
    background-color: #000;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    text-align: center;
    flex-direction:column;
    width: 350px;
    border-radius: 40px;
    background-color: rgba(128,128,128, 0.37);
}
.container p{
    font-size: 15px;
    color: #fefefe80;
}

.container .imgOne {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 83%;
    border-radius: 50%;
    background-color: #202020;
    padding: 7px;   
}


.cardButton button{
    width:40px;
    border-radius: 30px;
    padding: 9px;
    color: #fefefe;
    margin: 5px;
    outline: none;
    background-color: #101010;
    opacity: 0.8;
    border: 3px #FF6600;
}

button:focus{
    background-color: #fefefe98;
    opacity: 1;
}
button:hover {
    background-color: rgb(255, 94, 0);
    transition: all 0.5s;
    color: #fff;
    opacity: 1;
}
.container .submit {
    text-decoration: none;
    width: 75%;
    height: 35px;
    border-radius: 10px;
    background-color:#FF6600;
    outline: none;

}

.container .submit:hover{
    background-color: #fff;
    color: black;
    border: 4px white;
}

.thankContainer{
    width: 350px;
    margin-left: 400px;
    height: 45vh;
    display: flex;
    background-color: rgba(128, 128, 128, 0.158);
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    font-family:serif;
}
.thankContainer h1{
    font-size: 30px;
    opacity: 0.9;
    
}
.thankContainer p{
    text-align:center;
    margin-top: 10px;
    opacity: 0.5;
    font-size: 15px;
}

#youSelected p{
    color:#ff6600;
    width: 165px;
    height: 25px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.185);
    border-radius: 15px;
};
